<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-4 mb-4">ALMACENAMIENTO</h2>
      <p class="text-center" style="font-size: 18px;">
        La empresa dispone para sus clientes de 10 hectáreas, en su casa
        central, destinadas al arriendo de
        <b>sitios para almacenamiento.</b>
      </p>
      <div class="row">
        <div class="col-6">
          <p>
            Las dependencias de la empresa se encuentran custodiadas de manera
            permanente, lo cual garantiza la seguridad y el resguardo de
            aquellos materiales, equipos u otros elementos que el cliente deje
            en nuestras manos.
          </p>
          <p>
            Nuestra mayor ventaja es estar ubicados en una zona estratégica, a
            sólo 40 kilómetros de la División Andina de Codelco y a 80
            kilómetros de la capital chilena, Santiago.
          </p>
          <p>
            Contamos con áreas destinadas y <b>bodegas</b> para el
            almacenamiento de:
          </p>
          <ul>
            <li>Mercancías, insumos y materiales.</li>
            <li>
              Contenedores y cargas mayores por movilización y desmovilización
              de faena, así como almacenamiento permanente.
            </li>
            <li>
              Equipos mayores móviles, de cualquier tamaño, entre ellos scoop,
              excavadoras, camiones articulados, grúas telescópicas y/o
              cualquier equipo mayor que el cliente requiera.
            </li>
          </ul>
        </div>
        <div class="col-6">
          <img src="assets/img/alm2.jpg" class="img-fluid mt-3" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="ctaTransporte">
      <h2 class="float-left">
        ¿Buscas servicios de almacenamiento?
      </h2>
      <a routerLink="/contacto" class="btn btn-primary float-right">
        <b>¡COTIZA CON NOSOTROS! <i class="fas fa-chevron-right"></i></b>
      </a>
    </div>
  </div>
</div>
