<div class="container">
  <div class="row">
    <div class="col-12 pt-2 pb-2">
      <h2>NUESTRA EMPRESA</h2>
      <hr />
    </div>

    <div class="col-6 text-justify" id="principal">
      <p>
        Con base de operaciones en la ciudad de Los Andes, Servicios Integrales
        <b>Cacciuttolo</b> presta servicios logísticos de abastecimiento (bodega
        y transporte) para las principales empresas ligadas a la minería en la
        zona centro de Chile. Un paulatino y sostenido crecimiento de la
        compañía la hace contar hoy en día con una
        <b>flota de más de 120 equipos</b>, de distintas características, para
        desarrollar sus operaciones.
      </p>
      <p>
        <b>Sus equipos son de primera línea y se encuentran certificados</b> e
        implementados de acuerdo a los más altos estándares de la minería.
        Además, ofrece permanente trazabilidad de sus operaciones vía GPS,
        entregando tranquilidad a sus clientes.
      </p>
      <p>
        El principal orgullo de la compañía es la relación de largo plazo que
        mantiene con sus clientes, la cual ha sido clave para su desarrollo.
      </p>
    </div>

    <div class="col-6 text-center">
      <img src="assets/img/f1.jpg" class="img-fluid mt-3" />
    </div>

    <div class="col-12 mt-3 mb-2" id="nosotros-title">
      <div class="row">
        <div class="col-8">
          <h2><b>Más de 50 años de experiencia en transporte</b></h2>
        </div>
        <div class="col-4">
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#historia"
            aria-expanded="false"
            aria-controls="historia"
          >
            <b>QUIERO CONOCER LA HISTORÍA <i class="fas fa-angle-down"></i></b>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 collapse historia" id="historia">
      <p class="mt-3">
        Servicios Integrales Cacciuttolo nace en 1966 producto del azar, cuando
        su fundador Rafael Cacciuttolo P, un agricultor del Valle del Aconcagua,
        decide auxiliar un vehículo que había tenido problemas mecánicos cerca
        de su casa en Calle Larga.
      </p>
      <p>
        El ocupante del vehículo resultó ser un ciudadano norteamericano con un
        importante cargo en la compañía minera Cerro Corporation, que en ese
        entonces explotaba el yacimiento minero ubicado al interior de
        Saladillo, en Plena Cordillera de Los Andes, hoy División Andina de
        Codelco.
      </p>
      <p>
        De este hecho fortuito nació una larga relación comercial, gatillada por
        el ofrecimiento del norteamericano de vender la camioneta Ford 1960 que
        había presentado la falla. El agricultor, sin recursos para realizar un
        pago directo por ella, acuerda que el vehículo sea pagado a través de la
        ejecución de servicios de transporte desde Santiago hasta el yacimiento
        minero.
      </p>
      <p>
        Esta era una difícil tarea, considerando las condiciones del camino
        (Cuesta Chacabuco y Camino Internacional Los Libertadores) y que, el
        hasta entonces agricultor, debía seguir trabajando por las noches en sus
        tierras.
      </p>
      <p>
        Fueron años de mucho esfuerzo, trabajando de día como transportista y de
        noche como agricultor, hasta completar el pago de la deuda. Pero lejos
        de cerrar las puertas a este nuevo negocio, Rafael decidió comprar un
        segundo vehículo, Chevrolet 1962, al que le siguió rápidamente un Camión
        ¾ Ford color rojo, que resultó uno de sus principales orgullos.
      </p>
      <p>
        Los requerimientos de la minera fueron en aumento y la fuerza de este
        emprendedor y trabajador hombre lo hicieron tomar nuevos riesgos… a su
        segundo orgullo un Ford verde 1967, le siguieron dos Fiat 673 y un Fiat
        619, un Ford Caterpillar año 1970 y años más tarde un Mercedes Benz 1419
        y un 1923. Se había configurado así una pequeña flota de camiones con un
        enriquecedor grupo humano de conductores, al cual incluso su esposa, Ana
        Mayorga, su pilar familiar y laboral, se integraba en los momentos de
        mayor demanda. Así se se empezó a consolidar como uno de los principales
        transportistas de la zona.
      </p>
      <p>
        En el año 2010, habiendo formado y dirigido su exitosa empresa por más
        de 44 años, ya desgastado por un trabajo arduo y sin descanso, Rafael
        Cacciuttolo P. fallece a sus 70 años dejando más que una empresa un
        legado de esfuerzo, y la enseñanza de que la constancia y el amor al
        trabajo dan frutos que hoy nos enorgullecen y fortalecen para continuar
        con tan noble legado.
      </p>
      <p>
        Son 50 años de esfuerzo, aprendizaje, experiencia y crecimiento… que
        esperamos seguir desarrollando y posicionando de esta forma a Servicios
        Integrales Cacciuttolo en todo el país.
      </p>
    </div>
    <div class="col-5 text-center" id="contactanos">
      <h4 class="text-uppercase"><b>Ponte en contacto con nosotros</b></h4>
      <p>
        Si necesitas nuestros servicios, deseas cotizar o tienes alguna duda
        contactanos ahora.<br />
        <b>¡Con gusto te atenderemos!</b>
      </p>
      <button class="btn btn-success btn-lg">CONTACTAR AHORA</button>
    </div>
    <div class="col-7 mb-4" id="galeria">
      <ngx-gallery
        [options]="galleryOptions"
        [images]="galleryImages"
        class="mt-3"
      ></ngx-gallery>
    </div>
  </div>
</div>
