@import "../variables";

#principal {
  font-size: 18px;
  margin-top: 5px;
}
#nosotros-title {
  background-color: $color1;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#historia {
  p {
    font-size: 18px;
  }
}

#contactanos {
  margin-top: 140px;
  p {
    font-size: 18px;
  }
}

#galeria {
  ngx-gallery {
    margin-left: 80px;
  }
}
