<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-4 mb-4">
        SUSTENTABILIDAD Y ENFOQUE DE CALIDAD
      </h2>
      <p>
        Nuestra empresa entrega una gran importancia al cuidado del medio
        ambiente. En este ámbito cumplimos con la normativa nacional, así como
        con las políticas de las empresas mandantes.
      </p>
      <div class="row">
        <div class="col-6 text-center">
          <img src="assets/img/equipo.png" class="img-fluid mt-3" />
        </div>
        <div class="col-6">
          <p>
            Hemos desarrollado planes de cuidado del medio ambiente y
            procedimientos para la prevención de la contaminación. También
            realizamos capacitación y charlas de medio ambiente a nuestros
            conductores y a quienes trabajan en bodega.
          </p>
          <p>
            En caso de emergencia ambiental, derrames u otro evento similar,
            coordinamos las medidas de control y mitigación de los impactos
            ambientales generados por la emergencia.
          </p>
          <p>
            Paralelo a los esfuerzos ligados al medio ambiente, y con el
            objetivo de entregar un servicio de calidad, nuestra empresa
            gestiona sus riesgos, ha implementado un sistema de gestión
            integrada y se ha esforzado en contar con un equipo
            multidisciplinario y calificado.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Gestión de riesgos
              </button>
            </h2>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <p>
                    En sintonía con las necesidades sus clientes y bajo los más
                    rigurosos estándares de seguridad, la empresa ha trabajado
                    en su gestión de riesgos con el fin de lograr el control de
                    sus operaciones, para impedir así la exposición de su
                    personal o terceros a riesgos no controlados.
                  </p>
                  <p>
                    Con este objetivo, la compañía posee personal calificado en
                    el área, agrupado en el departamento de prevención de
                    riesgos. Este realiza permanentes esfuerzos desarrollando
                    herramientas de gestión y control en terreno, las que
                    permiten ejecutar las actividades de forma segura tanto para
                    la integridad de los trabajadores como del medio ambiente.
                  </p>
                </div>
                <div class="col-3">
                  <img src="assets/img/gr1.jpg" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Personal Calificado
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <p>
                    El principal valor de la Compañía es su Recurso Humano, sin
                    el cual nada de lo que se realiza diariamente sería posible.
                  </p>
                  <p>
                    Para ello la empresa cuenta con un equipo humano
                    multidisciplinario, dispuestos a atender los requerimientos
                    de los clientes de forma eficiente con los más altos
                    estándares de calidad.
                  </p>
                  <p>
                    Para asegurar la entrega de un servicio de calidad, se
                    cuenta con protocolos definidamente rigurosos de selección
                    de personal y posterior capacitación. Esto acompañado de un
                    trabajo de apoyo y control en terreno a lo largo de toda la
                    red operativa.
                  </p>
                </div>
                <div class="col-3">
                  <img src="assets/img/gr2.jpg" class="img-fluid" />
                </div>
                <div class="col-12">
                  <p>
                    Establecemos el método para asegurar que el personal que
                    trabaja en nuestra empresa sea consciente de su labor dentro
                    de la misma, cumpla con las competencias requeridas para su
                    cargo y se encuentre capacitado, en base a su nivel de
                    educación, formación o experiencia, para realizar sus
                    actividades de forma de prevenir los impactos ambientales,
                    los riesgos laborales y proporcionar un servicio de calidad.
                    Además, definimos el procedimiento para detectar las
                    necesidades de capacitación y evaluar su efectividad a
                    través de las evaluaciones por competencias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Sistema integrado de Gestión
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <p>
                    La Empresa cuenta con un riguroso Sistema de Gestión
                    Integrado, que le permite tanto el control operativo como la
                    mejora continua de sus procesos.
                  </p>
                  <p>
                    Este sistema está avalado por la prestigiosa Casa
                    Certificadora Bureau Veritas quien reconoce la excelencia
                    del mismo mediante la Certificación Tri-Norma:
                  </p>
                  <ul>
                    <li>ISO 9001:2008</li>
                    <li>ISO 14.001:2004</li>
                    <li>OHSAS 18.001:2007</li>
                  </ul>
                  <p>
                    Nuestro Sistema de Gestión se preocupa de establecer la
                    metodología en que nuestra empresa dará cumplimento a todos
                    los requerimientos asociados al servicio el que es
                    monitoreado constantemente a través de la evaluación y
                    trazabilidad del mismo.
                  </p>
                </div>
                <div class="col-3">
                  <img src="assets/img/iso.png" class="img-fluid" />
                </div>
                <div class="col-12">
                  <p>
                    En pos de la satisfacción de nuestros clientes, nos
                    preocupamos del análisis de posibles reclamos o no
                    conformidades con el fin de implementar acciones correctivas
                    y preventivas siempre orientadas a entregar el mejor
                    servicio.
                  </p>
                  <p>
                    Con nuestros procedimientos de gestión buscamos
                    posicionarnos en el exigente mercado de los servicios de
                    transporte de cargas industriales y ser una alternativa
                    conveniente, válida, competitiva y eficiente. Buscamos por
                    estos medios ser reconocidos por la excelencia de nuestros
                    servicios a clientes de distintas actividades industriales,
                    con un valor agregado a su negocio y especial énfasis en la
                    protección de sus recursos, del medio ambiente y conscientes
                    de la responsabilidad social con el personal, sus familias y
                    la comunidad.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
