<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12 text-center mt-4 mb-2">
      <h3>
        CONTACTANOS
      </h3>
      <p>
        Con el siguiente formulario puedes postular a trabajar con nosotros,
        unirte a nuestra red de proveedores o cotizar nuestros servicios,<br />
        solo sigue los pasos y pronto nos pondremos en contacto.
      </p>
      <hr />
    </div>
  </div>

  <form class="form-row mb-4">
    <div class="col-4">
      <h4 class="pb-0 mb-0">1. Datos de contacto</h4>
      <p><small>* Campos requeridos</small></p>

      <label for="nombre">Nombre*</label>
      <input type="text" name="nombre" class="form-control" />
      <label for="email">Email*</label>
      <input type="email" name="email" class="form-control" />
      <label for="telefono">Telefono*</label>
      <input type="tel" name="telefono" class="form-control" />

      <h4 class="mt-2">2. Motivo de contacto</h4>

      <label for="motivo">Seleccione una opción*</label>
      <div class="form-check">
        <input
          [(ngModel)]="opcionSeleccionada"
          (change)="capturar(opcionSeleccionada)"
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
        />
        <label class="form-check-label" for="exampleRadios1">
          Trabaje con nosotros
        </label>
      </div>
      <div class="form-check">
        <input
          [(ngModel)]="opcionSeleccionada"
          (change)="capturar(opcionSeleccionada)"
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios2">
          Inscribase como proveedor
        </label>
      </div>
      <div class="form-check">
        <input
          [(ngModel)]="opcionSeleccionada"
          (change)="capturar(opcionSeleccionada)"
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios3"
          value="option3"
        />
        <label class="form-check-label" for="exampleRadios2">
          Solicite una cotización
        </label>
      </div>
      <div class="form-check">
        <input
          [(ngModel)]="opcionSeleccionada"
          (change)="capturar(opcionSeleccionada)"
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios4"
          value="option4"
        />
        <label class="form-check-label" for="exampleRadios2">
          Otro motivo
        </label>
      </div>
    </div>

    <div class="col-4">
      <div class="animated fadeIn" *ngIf="opcionSeleccionada == 'option1'">
        <h4>3. Datos para postulación</h4>
        <label>Cargo de postulación*</label>
        <input type="text" class="form-control" />
        <label>Pretensiones de renta</label>
        <input type="text" class="form-control" />
      </div>
      <div class="animated fadeIn" *ngIf="opcionSeleccionada == 'option2'">
        <h4>3. Información proveedor</h4>

        <label>RUT Empresa*</label>
        <input type="text" class="form-control" />
        <label>Razón Social*</label>
        <input type="text" class="form-control" />
        <label>Producto o servicio ofrecido*</label>
        <textarea type="text" class="form-control"></textarea>
      </div>
      <div class="animated fadeIn" *ngIf="opcionSeleccionada == 'option3'">
        <h4>3. Empresa y servicio requerido</h4>
        <label>RUT Empresa*</label>
        <input type="text" class="form-control" />
        <label>Razón Social*</label>
        <input type="text" class="form-control" />
        <label>Servicio Solicitado*</label>
        <select
          class="form-control"
          [(ngModel)]="servicio"
          name="servicio"
          (change)="capturarServicio(servicio)"
        >
          <option value="transporte">Transporte</option>
          <option value="arriendo">Arriendo de Equipos</option>
          <option value="bodega">Operación de Bodega</option>
        </select>

        <div class="animated fadeIn" *ngIf="servicio == 'arriendo'">
          <label>Tipo de equipo</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="animated fadeIn" *ngIf="opcionSeleccionada == 'option4'">
        <h4>3. Mensaje</h4>
        <label>Asunto</label>
        <input type="text" class="form-control" />
        <label>Mensaje*</label>
        <textarea type="text" class="form-control"></textarea>
      </div>
      <div *ngIf="opcionSeleccionada" class="text-center mt-5 animated fadeIn">
        <button class="btn btn-lg btn-success">
          <i class="fas fa-paper-plane"></i> Enviar
        </button>
      </div>
    </div>
    <div class="col-4">
      <div
        class="animated fadeIn"
        *ngIf="servicio == 'transporte' && opcionSeleccionada === 'option3'"
      >
        <h4>4. Información necesaria</h4>
        <label>Tipo de equipo*</label>
        <input type="text" class="form-control" />
        <label>Origen*</label>
        <input type="text" class="form-control" />
        <label>Destino*</label>
        <input type="text" class="form-control" />
        <label>Descripción de carga*</label>
        <textarea
          name="carga"
          id="carga"
          rows="3"
          class="form-control"
        ></textarea>
      </div>
    </div>
  </form>
</div>
