<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-4 mb-4">LOGÍSTICA INTEGRAL EN FAENAS</h2>
      <p>
        Nuestra empresa ofrece la operación integral de los servicios de
        abastecimiento, haciéndose cargo de las bodegas de sus clientes, labor
        que incluye las operaciones de
        <b>recepción, almacenamiento, recolección y despacho.</b>
      </p>
      <p>
        En la prestación de estos servicios se conjugan capital técnico y humano
        para cumplir con las metas propuestas y satisfacer las necesidades del
        cliente y los diversos usuarios.
      </p>
      <div class="row">
        <div class="col-6">
          <img src="assets/img/alm1.jpg" class="img-fluid mt-3" />
        </div>
        <div class="col-6">
          <p>
            Entre los recursos mencionados se encuentran: camiones plano y pluma
            de diverso tonelaje, rampla y tolva, vehículos menores (camionetas y
            furgones), equipos para la carga y descarga de material (grúas
            horquillas y apiladores).
          </p>
          <p>
            A ellos hay que sumar un variado grupo de personas, fiel al
            desarrollo de sus labores, que incluye operadores, operarios,
            personal logístico, expertos en prevención de riesgos,
            administrativos en general e ingenieros. Personal que es capaz de
            adaptar su operación a los módulos propios del mandante.
          </p>
          <p>
            Servicios Integrales Cacciuttolo incursionó en la logística de
            abastecimiento hace 4 años y hoy presta estos servicios en dos
            divisiones de Codelco, Teniente y Andina.
          </p>
          <p>
            En la División Andina realiza una labor que abarca desde la
            operación de los almacenes hasta la entrega al usuario final. Este
            es uno de los servicios de logística mejor evaluados de todas las
            divisiones, con significativos resultados de rendimiento según los
            criterios establecidos por el cliente.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="ctaTransporte">
      <h2 class="float-left">
        ¿Buscas servicios de logística?
      </h2>
      <a routerLink="/contacto" class="btn btn-primary float-right">
        <b>¡COTIZA CON NOSOTROS! <i class="fas fa-chevron-right"></i></b>
      </a>
    </div>
  </div>
</div>
