<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-4 mb-4">LOGÍSTICA INTEGRAL EN FAENAS</h2>
      <p>
        Nuestra empresa ofrece la operación integral de los servicios de
        abastecimiento, haciéndose cargo de las bodegas de sus clientes, labor
        que incluye las operaciones de
        <b>recepción, almacenamiento, recolección y despacho.</b>
      </p>
      <p>
        En la prestación de estos servicios se conjugan capital técnico y humano
        para cumplir con las metas propuestas y satisfacer las necesidades del
        cliente y los diversos usuarios.
      </p>
      <div class="row">
        <div class="col-6">
          <img src="assets/img/alm1.jpg" class="img-fluid mt-3" />
        </div>
        <div class="col-6">
          <p>
            Entre los recursos mencionados se encuentran: camiones plano y pluma
            de diverso tonelaje, rampla y tolva, vehículos menores (camionetas y
            furgones), equipos para la carga y descarga de material (grúas
            horquillas y apiladores).
          </p>
          <p>
            A ellos hay que sumar un variado grupo de personas, fiel al
            desarrollo de sus labores, que incluye operadores logísticos, operadores de equipos,
            analistas, planificadores, expertos en prevención de riesgos,
            administrativos e ingenieros. Personal que es capaz de
            adaptar su operación a los módulos ERP propios de cada mandante.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="ctaTransporte" style="background-color: #01417F; color: white; padding: 20px;">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-0" style="color: white;">
          ¿Buscas servicios de logística?
        </h3>
        <a routerLink="/contacto" class="btn btn-light btn-lg" style="color: #01417F; font-weight: bold;">
          ¡COTIZA CON NOSOTROS! <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
