$color1: #00417f;
$color2: #df0415;
$color3: rgb(97, 97, 97);
$color4: rgb(218, 218, 218);
$color5: rgb(243, 243, 243);
$color6: rgb(5, 5, 5);

$instagram: radial-gradient(
  circle at 30% 107%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);
