<div class="container animated fadeInDown">
  <div class="row mt-4 pb-4">
    <div class="col-12">
      <h2>Trabaja con nosotros</h2>
      <p>
        Si estas interesado en unirte a nuestro equipo puedes postular
        rellenando el formulario.
      </p>
    </div>
    <div class="col-12">
      <form class="form-row">
        <div class="col-6 form-group">
          <label for="nombre"
            >Nombre Completo<span class="text-danger">*</span></label
          >
          <input type="text" class="form-control" name="nombre" />

          <label for="nacimiento"
            >Fecha de Nacimiento<span class="text-danger">*</span></label
          >
          <input type="date" class="form-control" name="nacimiento" />

          <label for="email">E-Mail<span class="text-danger">*</span></label>
          <input type="email" class="form-control" name="nombre" />

          <label for="telefono"
            >Telefono Actualizado<span class="text-danger">*</span></label
          >
          <input type="phone" class="form-control" name="telefono" />

          <label for="cv"
            >Curriculum Vitae<span class="text-danger">*</span></label
          >
          <input type="file" class="form-control-file" name="cv" />
        </div>
        <div class="col-6">
          <label for="nombre">Ciudad<span class="text-danger">*</span></label>
          <input type="text" class="form-control" name="nombre" />
          <label for="nombre"
            >Área/Cargo de interes<span class="text-danger">*</span></label
          >
          <input type="text" class="form-control" name="nombre" />
          <label for="nombre"
            >Disponibilidad para trabajar<span class="text-danger"
              >*</span
            ></label
          >
          <input type="text" class="form-control" name="nombre" /><label
            for="nombre"
            >Nivel de educación<span class="text-danger">*</span></label
          >
          <input type="text" class="form-control" name="nombre" />
        </div>
        <div class="col-12">
          <label for="mensaje">Mensaje</label>
          <textarea class="form-control" name="mensaje" rows="5"></textarea>
          <div class="text-center mt-3">
            <button class="btn btn-primary">POSTULAR AHORA</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
