<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-3" id="transporte">
      <h2>TRANSPORTE</h2>
      <p>
        Nuestra empresa ofrece servicios de
        <b>transporte de carga terrestre nacional</b> de diversa índole, los que
        van desde reparto de productos hasta transporte de sustancias
        peligrosas. También se ofrece la realización de tareas de carga,
        descarga e izaje, prestando así un servicio completo.
      </p>
    </div>
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="carga-general-tab"
            data-toggle="tab"
            href="#carga-general"
            role="tab"
            aria-controls="carga-general"
            aria-selected="true"
            >Carga General</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="granel-tab"
            data-toggle="tab"
            href="#granel"
            role="tab"
            aria-controls="granel"
            aria-selected="false"
            >Granel</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="especiales-tab"
            data-toggle="tab"
            href="#especiales"
            role="tab"
            aria-controls="especiales"
            aria-selected="false"
            >Especiales</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="interior-mina-tab"
            data-toggle="tab"
            href="#interior-mina"
            role="tab"
            aria-controls="interior-mina"
            aria-selected="false"
            >Interior Mina</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="carga-indivisible-tab"
            data-toggle="tab"
            href="#carga-indivisible"
            role="tab"
            aria-controls="carga-indivisible"
            aria-selected="false"
            >Carga Indivisible</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="contact-tab"
            data-toggle="tab"
            href="#contact"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            >Carga / Descarga / Izaje</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!--TAB1-->
        <div
          class="tab-pane fade show active"
          id="carga-general"
          role="tabpanel"
          aria-labelledby="carga-general-tab"
        >
          <div class="row container">
            <div class="col-6 pt-3">
              <p>
                Realizamos transporte de carga general a lo largo de Chile, para
                lo cual contamos con un importante parque de vehículos, de los
                siguientes tipos:
              </p>
              <ul>
                <li>Camionetas de reparto para un máximo de 500 kilos.</li>
                <li>
                  Camiones planos de 1.500 a 15.000 kilos.
                </li>
                <li>
                  Camiones articulados, equipados con rampla plana para 25
                  toneladas.
                </li>
                <li>
                  Camiones articulados, equipados con rampla baja para 25
                  toneladas. Especiales en transporte de módulos.
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages"
                class="mt-3"
              ></ngx-gallery>
            </div>
          </div>
        </div>
        <!--/TAB1-->
        <!--TAB2-->
        <div
          class="tab-pane fade"
          id="granel"
          role="tabpanel"
          aria-labelledby="granel-tab"
        >
          <div class="row container">
            <div class="col-6 pt-3">
              <p>
                Efectuamos transporte terrestre de diversos tipos de carga que
                no poseen envase o empaquetamiento (a granel). Este servicio
                abarca desde el transporte en larga distancia de insumos como
                bolas de molienda, sal, escombros y material fino o
                estabilizado, hasta la inclusión de los equipos dentro de faenas
                para realizar movimiento de tierra.
              </p>
              <p>
                Para estas labores se cuenta con los siguientes tipos de equipos
              </p>
              <ul>
                <li>Camiones tolva para 15 y 20 toneladas.</li>
                <li>
                  Camiones articulados, equipados con bateas para 25 toneladas.
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages2"
                class="mt-3"
              ></ngx-gallery>
            </div>
          </div>
        </div>
        <!--/TAB2-->
        <!--TAB3-->
        <div
          class="tab-pane fade"
          id="especiales"
          role="tabpanel"
          aria-labelledby="especiales-tab"
        >
          <div class="row container">
            <div class="col-6 pt-3">
              <p>
                Ofrecemos transporte de cargas de configuración no habitual y
                que requiere de una especialización mayor en la configuración
                del servicio. Contamos con los siguientes tipos de equipos:
              </p>
              <ul>
                <li>
                  Camionetas de reparto de combustible con capacidad para 500
                  litros.
                </li>
                <li>
                  Camiones articulados, equipados con estanque para el
                  transporte de sustancias peligrosas.
                </li>
                <li>
                  Camiones articulados, equipados con rampla especial para el
                  transporte de neumáticos mineros en posición vertical (para
                  evitar la sobredimensión).
                </li>
                <li>
                  Camiones articulados, equipados con rampla baja para 25
                  toneladas. Especiales en transporte de módulos.
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages3"
                class="mt-3"
              ></ngx-gallery>
            </div>
          </div>
        </div>
        <!--/TAB3-->
        <!--TAB4-->
        <div
          class="tab-pane fade"
          id="interior-mina"
          role="tabpanel"
          aria-labelledby="interior-mina-tab"
        >
          <div class="row container">
            <div class="col-6 pt-3">
              <p>
                Este servicio es uno de los mayores orgullos operativos de la
                compañía, ya que hemos logrado con éxito trabajar en interior
                mina en varios proyectos, con traslados de alta complejidad en
                sectores de espacio reducido y de difícil acceso, para el
                transporte de insumos, materiales y maquinarias.
              </p>
              <p>
                Para estas labores contamos con los siguientes tipos de equipos:
              </p>
              <ul>
                <li>Camiones plano para 3.000 a 15.000 kilos.</li>
                <li>
                  Camiones pluma para 3.000 a 5.000 kilos de levante.
                </li>
                <li>
                  Camiones articCamas bajas auto dirigidas (dirección trasera),
                  con capacidad para 30 toneladas.
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages4"
                class="mt-3"
              ></ngx-gallery>
            </div>
          </div>
        </div>
        <!--/TAB4-->
        <!--TAB5-->
        <div
          class="tab-pane fade"
          id="carga-indivisible"
          role="tabpanel"
          aria-labelledby="carga-indivisible-tab"
        >
          <div class="row container">
            <div class="col-6 pt-3">
              <p>
                La empresa cuenta con vasta experiencia en el transporte de
                carga indivisible (sobrepeso y sobredimensión), traslados que
                requieren de personal altamente especializado y calificado,
                equipos especiales para las diferentes cargas, y supervisión
                experimentada del transporte, las coordinaciones y escoltas,
                tanto en carretera como minería.
              </p>
              <p>
                Entregamos un servicio integral que abarca la planificación,
                tramitación de documentos, gestiones viales y el desarrollo del
                transporte en sí.
              </p>
              <p>Para estas laboramos contamos con:</p>
              <ul>
                <li>Camas bajas para entre 25 a 70 toneladas.</li>
                <li>
                  Camas bajas, plataforma angosta (palotes), para entre 25 a 70
                  toneladas.
                </li>
                <li>
                  Camas bajas cortas y camas direccionales, para lugares de
                  difícil acceso, con capacidad para 30 toneladas.
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages5"
                class="mt-3"
              ></ngx-gallery>
            </div>
          </div>
        </div>
        <!--/TAB5-->
        <!--TAB6-->
        <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          <div class="row container">
            <div class="col-6 pt-3">
              <p>
                Efectuamos transporte terrestre de diversos tipos de carga que
                no poseen envase o empaquetamiento (a granel). Este servicio
                abarca desde el transporte en larga distancia de insumos como
                bolas de molienda, sal, escombros y material fino o
                estabilizado, hasta la inclusión de los equipos dentro de faenas
                para realizar movimiento de tierra.
              </p>
              <p>
                Para estas labores se cuenta con los siguientes tipos de equipos
              </p>
              <ul>
                <li>Camiones tolva para 15 y 20 toneladas.</li>
                <li>
                  Camiones articulados, equipados con bateas para 25 toneladas.
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages6"
                class="mt-3"
              ></ngx-gallery>
            </div>
          </div>
        </div>
        <!--/TAB6-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="ctaTransporte">
      <h3>
        ¿Buscas servicios de transporte? Más de 50 años de experiencia nos
        avalán.
        <button class="btn btn-primary"><b>¡COTIZA CON NOSOTROS!</b></button>
      </h3>
    </div>
  </div>
</div>
