<div class="container h-100">
  <div
    class="row h-100 justify-content-center align-items-center mt-5"
    style="margin-bottom: 150px;"
  >
    <div class="col-12 text-center">
      <h2>Bienvenido</h2>
      <p>Ingresa tus credenciales</p>
    </div>
    <form class="col-4" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          #email="ngModel"
          [(ngModel)]="user.email"
          required
        />
        <small
          *ngIf="!email.valid && email.touched"
          class="invalid-feedback d-block"
        >
          El correo no es válido
        </small>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          name="password"
          #password="ngModel"
          [(ngModel)]="user.password"
          required
        />
        <small
          *ngIf="!password.valid && password.touched"
          class="invalid-feedback d-block"
        >
          La contraseña no es válida
        </small>
      </div>
      <button
        type="submit"
        class="btn btn-success btn-block"
        [disabled]="loginForm.invalid"
      >
        INGRESAR
      </button>
    </form>
  </div>
</div>
