<div class="container">
    <div class="row mb-5 mt-3">
        <div class="col-4" *ngIf="denuncia">
            <h2>Detalles de denuncia</h2>

            <div class="alert alert-info">
                <b>Ticket:</b> <br>{{denuncia.ticket}}
            </div>

            <h3>1. Datos de denunciante</h3>

            <ul>
                <li><b>Nombre:</b> {{denuncia.nombre}}</li>
                <li><b>Email:</b> {{denuncia.email}}</li>
                <li><b>Telefono:</b> {{denuncia.telefono}}</li>
            </ul>

            <h3>2. Datos de la denuncia</h3>

            <ul>
                <li><b>Fecha de creación:</b> {{denuncia.created_at | date: 'dd-MM-yyyy'}}</li>
                <li><b>Denucia:</b><br> {{denuncia.denuncia}}</li>
            </ul>

            <a *ngIf="denuncia.antecedentes != null && denuncia.antecedentes != ' '" [href]="denuncia.antecedentes | file" download class="btn btn-primary btn-block">DESCARGAR ANTECEDENTES</a>
        </div>
        <div class="col-6 offset-1">
            <h3>3. Responder a denuncia</h3>
            <p>Envía una respuesta al denunciante y comienza un hilo.</p>
            <form>
                <div class="form-group">
                    <textarea class="form-control" name="" rows="5"></textarea>
                </div>
                <button class="btn btn-info">ENVIAR RESPUESTA</button>
            </form>
            <h3 class="mt-2">4. Cerrar ticket</h3>
            <p>Si la denuncia esta resuelta cierra el ticket. Automáticamente se informara al denunciante. (El ticket no podrá ser abierto nuevamente)</p>
            <div *ngIf="denuncia">
                <button *ngIf="denuncia.finalizada == false" class="btn btn-danger btn-lg" (click)="finalizarTicket()"><b>CERRAR TICKET </b></button>
                <button *ngIf="denuncia.finalizada == true" class="btn btn-success btn-lg" disabled>TICKET CERRADO</button>
            </div>
        </div>
    </div>
</div>  