<div class="text-white container-fluid">
  <div class="row" id="footer">
    <div class="col-3 p-4" id="nosotros">
      <h3>Nosotros</h3>
      <p class="text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
        repudiandae sapiente, unde illo tempora modi. Culpaeius modi illum!
      </p>
      <ul class="text-left ml-0 pl-2">
        <li><i class="fas fa-phone-square-alt"></i> 34 2 461640</li>
        <li><i class="fas fa-phone-square-alt"></i> 34 2 461883</li>
        <li>
          <i class="fas fa-envelope-open-text"></i> contacto@cacciuttolo.cl
        </li>
        <li>
          <i class="fas fa-map-marker-alt"></i> Calle Larga #6340, Los Andes.
        </li>
      </ul>
    </div>
    <div class="col-3 p-4" id="enlaces">
      <h3>Enlaces</h3>
      <ul>
        <li><a routerLink="/empresa">Empresa</a></li>
        <li><a routerLink="/transporte">Transporte</a></li>
        <li><a routerLink="/logistica">Logística</a></li>
        <li><a routerLink="/almacenamiento">Almacenamiento</a></li>
        <li><a routerLink="/sustentabilidad">Sustentabilidad</a></li>
        <li><a routerLink="/noticias">Noticias</a></li>
        <li><a routerLink="/galeria">Galería</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="col-3 p-4 text-center">
      <h3>Accesos Rapidos</h3>
      <a
        href="http://67.205.169.202/"
        class="text-uppercase btn btn-success btn-block mt-3"
        >Indicadores por contrato</a
      >
      <a routerLink="/denuncias" class="text-uppercase btn btn-danger btn-block"
        >Canal de denuncias</a
      >
      <a routerLink="/contacto" class="text-uppercase btn btn-primary btn-block"
        >Trabaja con nosotros</a
      >
      <a routerLink="/login" class="text-uppercase btn btn-info btn-block"
        >Acceso administrativo</a
      >
    </div>
    <div class="col-2 p-4" id="certificaciones">
      <h3>Certificaciones</h3>
      <p>ISO 9001:2008</p>
      <p>ISO 14.001:2004</p>
      <p>OHSAS 18.001:2007</p>
    </div>
    <div class="col-1 p-4 text-right" id="social">
      <ul class="text-white">
        <li class="facebook">
          <a href="https://facebook.com" target="__blank"
            ><i class="fab fa-facebook"></i
          ></a>
        </li>
        <li class="instagram">
          <a href="https://instagram.com" target="__blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="twitter">
          <a href="https://twitter.com" target="__blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row bg-dark">
    <div class="col-12 text-center p-3">
      Todos los derechos reservados &copy; Cacciuttolo {{ anio }}
    </div>
  </div>
</div>
