<div class="text-white container-fluid">
  <div class="row" id="footer">
    <div class="col-3 p-4" id="nosotros">
      <h3>Nosotros</h3>
      <p class="text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
        repudiandae sapiente, unde illo tempora modi. Culpaeius modi illum!
      </p>
      <ul class="text-left ml-0 pl-2">
        <li><i class="fas fa-phone-square-alt"></i> 34 2 461640</li>
        <li><i class="fas fa-phone-square-alt"></i> 34 2 461883</li>
        <li>
          <i class="fas fa-envelope-open-text"></i> contacto@cacciuttolo.cl
        </li>
        <li>
          <i class="fas fa-map-marker-alt"></i> Calle Larga #6340, Los Andes.
        </li>
      </ul>
    </div>
    <div class="col-3 p-4" id="enlaces">
      <h3>Enlaces</h3>
      <ul>
        <li><a href="#">Empresa</a></li>
        <li><a href="#">Transporte</a></li>
        <li><a href="#">Logística</a></li>
        <li><a href="#">Almacenamiento</a></li>
        <li><a href="#">Sustentabilidad</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="col-3 p-4 text-center">
      <h3>Accesos Rapidos</h3>
      <a href="#" class="text-uppercase btn btn-success btn-block mt-3"
        >Indicadores por contrato</a
      >
      <a href="#" class="text-uppercase btn btn-danger btn-block"
        >Canal de denuncias</a
      >
      <a href="#" class="text-uppercase btn btn-primary btn-block"
        >Trabaja con nosotros</a
      >
      <a href="#" class="text-uppercase btn btn-info btn-block"
        >Acceso administrativo</a
      >
    </div>
    <div class="col-2 p-4" id="certificaciones">
      <h3>Certificaciones</h3>
      <p>ISO 9001:2008</p>
      <p>ISO 14.001:2004</p>
      <p>OHSAS 18.001:2007</p>
    </div>
    <div class="col-1 p-4 text-right" id="social">
      <ul class="text-white">
        <li class="facebook"><i class="fab fa-facebook"></i></li>
        <li class="instagram"><i class="fab fa-instagram"></i></li>
        <li class="twitter"><i class="fab fa-twitter"></i></li>
      </ul>
    </div>
  </div>
  <div class="row bg-dark">
    <div class="col-12 text-center p-3">
      Todos los derechos reservados &copy; Cacciuttolo {{ anio }}
    </div>
  </div>
</div>
