@import "../../variables";

#footer {
  border-top: 15px double white;
  background-color: $color3;
}
#nosotros {
  ul {
    list-style: none;
  }
}

#certificaciones {
  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.instagram {
  a {
    transition: color 0.5s;
    color: white;
    text-decoration: none;
  }
}
.facebook {
  a {
    transition: color 0.5s;
    color: white;
    text-decoration: none;
  }
}
.twitter {
  a {
    transition: color 0.5s;
    color: white;
    text-decoration: none;
  }
}
.instagram:hover {
  a {
    color: #d6249f;
  }
}
.facebook:hover {
  a {
    color: #3b5998;
  }
}
.twitter:hover {
  a {
    color: #35dbf1;
  }
}

#social {
  ul {
    list-style: none;
    li {
      font-size: 28px;
    }
  }
}

#enlaces {
  ul {
    li {
      a {
        text-decoration: none;
        color: white !important;
        transition: color 0.3s;
        &:hover {
          color: #ccc !important;
        }
      }
    }
  }
}
